> ### Muhammad Aryasatya N (22083010085)

### 1. Buat Database yang kamu tentukan menggunakan perintah pada python

In [ ]:
import sqlite3
con = sqlite3.connect("pemesanan_makanan.db", timeout=10)
print("Database pemesanan_makanan.db berhasil di buat")

con.close()

### 2. Buat minimal 2 tabel dan tambahkan data menggunakan perintah pada python

In [ ]:
import sqlite3

con = sqlite3. connect ("pemesanan_makanan.db", timeout=10)
cur = con.cursor ()

for row in cur.execute("CREATE TABLE Menu (id_menu int, nama_menu varchar(50), deskripsi text, harga int(20), kategori varchar(20))"):
    print (row)
    
con.commit ()
con.close ()

In [ ]:
import sqlite3

con = sqlite3.connect("pemesanan_makanan.db", timeout=10)
cur = con.cursor()

for row in cur.execute("CREATE TABLE Pelanggan (id_pelanggan int, nama_pelanggan varchar(50), alamat text, no_telepon integer(20))"):
    print(row)

con.commit()
con.close()

In [ ]:
import sqlite3

con = sqlite3.connect("pemesanan_makanan.db", timeout=10)
cur = con.cursor()

for row in cur.execute("CREATE TABLE Pesanan (id_pesanan int, id_pelanggan int, id_menu int, jumlah_pesanan int"):
    print(row)

con.commit()
con.close()

#### Menambahkan Data

In [ ]:
import sqlite3

con = sqlite3. connect("pemesanan_makanan.db", timeout=10)
cur = con. cursor()

for row in cur.execute ("INSERT INTO Menu VALUES (1, 'Nasi Goreng', 'Sebuah nasi putih yang digoreng jadilah nasi goreng', 20000, 'Makanan')"):
    print(row)
for row in cur.execute("INSERT INTO Menu VALUES (2, 'Es Teh Hangat', 'Teh hangat dengan tambahan es batu', '5000', 'Minuman')"):
    print(row)
    
con.commit ()
con.close ()

In [ ]:
import sqlite3

con = sqlite3. connect("pemesanan_makanan.db", timeout=10)
cur = con. cursor()

for row in cur.execute ("INSERT INTO Pelanggan VALUES (1, 'julian', 'Zurich Street 1', 081234567890)"):
    print(row)
for row in cur.execute("INSERT INTO Pelanggan VALUES (2, 'xavier', 'Davos Street 1', '089876543210')"):
    print(row)
    
con.commit ()
con.close ()

In [ ]:
import sqlite3

con = sqlite3. connect("pemesanan_makanan.db", timeout=10)
cur = con. cursor()

for row in cur.execute ("INSERT INTO Pesanan VALUES (1, 1, 1, 2)"):
    print(row)
for row in cur.execute("INSERT INTO Pesanan VALUES (2, 2, 2, 1)"):
    print(row)
    
con.commit ()
con.close ()

### 3. Lakukan pemutakhiran data pada tabel yang telah dibuat menggunakan perintah pada python

In [ ]:
import sqlite3

con = sqlite3.connect ("pemesanan_makanan.db", timeout=10)
cur = con. cursor ()

for row in cur.execute("UPDATE Pelanggan SET nama_pelanggan = 'nana' WHERE id_pelanggan = 1 "):
    print(row)
    
con. commit()
con.close ()

In [ ]:
import sqlite3

con = sqlite3. connect ("pemesanan_makanan.db", timeout=10)
cur = con. cursor ()

for row in cur.execute("SELECT * FROM Pelanggan"):
    print(row)
    
con. commit ()
con.close ()

### 4. Pengelompokan data pada tabel yang telah dibuat menggunakan perintah pada python

In [ ]:
import sqlite3

con = sqlite3.connect ("pemesanan_makanan.db", timeout=10)
cur = con. cursor ()

for row in cur.execute("INSERT INTO Menu VALUES (3, 'Ayam Geprek', 'Ayam yang digeprek dengan sambal', 25000, 'Makanan')"):
    print (row)
for row in cur.execute("INSERT INTO Menu VALUES (4, 'Lemon Tea', 'Teh dengan campuran lemon', 10000, 'Minuman')"):
    print (row)
    
con.commit ()
con. close ()

In [ ]:
import sqlite3

con = sqlite3.connect("pemesanan_makanan.db", timeout=10)
cur = con.cursor()

for row in cur.execute("INSERT INTO pelanggan VALUES (3, 'Xhaka', 'St. Moritz 50', '081234567890')"):
    print(row)
for row in cur.execute("INSERT INTO pelanggan VALUES (4, 'Akanji', 'Luzern Street 49', '089876543210')"):
    print(row)
    
con.commit()
con.close()

In [ ]:
import sqlite3

con = sqlite3.connect ("pemesanan_makanan.db", timeout=10)
cur = con. cursor ()

for row in cur.execute("INSERT INTO Pesanan VALUES (3, 3, 3, 2)"):
    print (row)
for row in cur.execute("INSERT INTO Pesanan VALUES (4, 4, 4, 1)"):
    print (row)
    
con.commit ()
con. close ()

In [ ]:
import sqlite3

con = sqlite3. connect ("pemesanan_makanan.db", timeout=10)
cur = con.cursor ()

for row in cur.execute("SELECT * FROM Menu ORDER BY harga DESC"):
    print(row)
    
con.commit ()
con.close ()

In [ ]:
import sqlite3

con = sqlite3. connect ("pemesanan_makanan.db", timeout=10)
cur = con.cursor ()

for row in cur.execute("SELECT COUNT (*), nama_pelanggan FROM Pelanggan GROUP BY nama_pelanggan"):
    print(row)
    
con.commit ()
con.close ()

### 5. Melakukan join pada data tabel

In [ ]:
import sqlite3

con = sqlite3.connect("pemesanan_makanan.db", timeout=10)
cur = con.cursor()

query = "SELECT Pesanan.id_pesanan, Menu.nama_menu, Pesanan.jumlah_pesanan, Menu.harga, Pesanan.jumlah_pesanan*Menu.harga AS total_harga FROM Pesanan JOIN Menu ON Pesanan.id_menu = Menu.id_menu"

for row in cur.execute(query):
    print(row)

con.close()

In [ ]:
import sqlite3

con = sqlite3.connect("pemesanan_makanan.db", timeout=10)
cur = con.cursor()

query = """
SELECT Pesanan.id_pesanan, Menu.nama_menu, Pelanggan.nama_pelanggan, Pelanggan.alamat, Pelanggan.no_telepon,
       Pesanan.jumlah_pesanan, Menu.harga, Pesanan.jumlah_pesanan*Menu.harga AS total_harga
FROM Pesanan 
JOIN Menu ON Pesanan.id_menu = Menu.id_menu
JOIN Pelanggan ON Pesanan.id_pelanggan = Pelanggan.id_pelanggan
"""

for row in cur.execute(query):
    id_pesanan = row[0]
    nama_menu = row[1]
    nama_pelanggan = row[2]
    alamat = row[3]
    no_telepon = row[4]
    jumlah_pesanan = row[5]
    harga = row[6]
    total_harga = row[7]

    print("ID Pesanan:", id_pesanan)
    print("Nama Menu:", nama_menu)
    print("Nama Pelanggan:", nama_pelanggan)
    print("Alamat:", alamat)
    print("Nomor Telepon:", no_telepon)
    print("Jumlah Pesanan:", jumlah_pesanan)
    print("Harga:", harga)
    print("Total Harga:", total_harga)
    print()

con.commit()
con.close()